<form #frmPesquisa="ngForm" (ngSubmit)="onFind()">
  <p-panel>
    <p-header> Formulário para cadastro </p-header>
    Empresas Cadastradas
    <div class="grid-container">
      <label id="lbl-cnpj">CNPJ</label>
      <div id="edt-cnpj">
        <p-inputMask mask="99.999.999/9999-99" name="cnpj" unmask="true" [(ngModel)]="filtroEmpresa.cnpj"
          #cnpj="ngModel">
        </p-inputMask>
      </div>

      <label id="lbl-nome">Nome da empresa</label>
      <div id="edt-nome">
        <input type="text" pInputText name="nome" [(ngModel)]="filtroEmpresa.nome" #nome="ngModel" maxlength="50" />
      </div>

      <label id="lbl-tipo">Tipo Empresa</label>
      <div id="edt-tipo">
        <p-dropdown [options]="tiposEmpresa" name="tipo" [(ngModel)]="filtroEmpresa.tipo" #tipo="ngModel" id="cbx-tipo">
        </p-dropdown>
      </div>

      <button pButton type="button" (click)="onAdd()" label="Novo Cadastro" id="btn-cadastro"></button>
      <button pButton type="submit" label="Pesquisar" id="btn-pesquisa"></button>

      <p-table [value]="registros" id="tbl-empresa" [paginator]="true" [rows]="filtroEmpresa.size" [lazy]="true"
        [totalRecords]="totalRegistros" (onLazyLoad)="onChangePage($event)">
        <ng-template pTemplate="header">
          <tr>
            <th>Id</th>
            <th>Tipo</th>
            <th>Nome</th>
            <th>CNPJ</th>
            <th>Açoes</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-registro>
          <tr>
            <td>{{ registro.id }}</td>
            <td>{{ registro.tipo }}</td>
            <td>{{ registro.nome }}</td>
            <td>{{ registro.cnpj }}</td>
            <td>
              <a (click)="onEditar(registro)">Editar</a> -
              <a (click)="onDelete(registro.id)">Excluir</a>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer">
          <tr>
            <td colspan="5">Qtd Registros: {{ totalRegistros }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <p-toast></p-toast>
    <p-confirmDialog [transitionOptions]="'0ms'" acceptLabel="Sim" rejectLabel="Não"></p-confirmDialog>
  </p-panel>
</form>