// .grid-container{
//   margin: 5px;
//   border: 1px red solid;
//   display: grid;
//   grid-gap: 8px;
//   grid-template-columns: 1fr 2fr 1fr 2fr;
//   grid-template-rows: 5vh;
// }

// #div-1 {
//   background-color: gray; 
//   grid-column: 1/2;
// }

// #div-2 {
//   background-color: green;
//   grid-column: 2/3; 
// }

// #div-3 {
//   background-color: yellow; 
//   grid-column: 3/3; 
// }

// #div-4 {
//   background-color: blue; 
//   grid-column: 4/5; 
// }

// #div-5 {
//   background-color: orange;
//   grid-column: 1/1; 
// }

// #div-6 {
//   background-color: purple;
//   grid-column: 2/6; 
// }

label {
  font-family: Open Sans,Helvetica Neue,sans-serif;
}
.grid-container{
  margin: 5px;
  border: 1px red solid;
  padding: 3px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 7vh 7vh 7vh 7vh 7vh;
}

#lbl-cnpj {
  grid-column: 1/2; 
}

#edt-cnpj {
  grid-column: 2/3; 
  display: flex;
  flex-direction: column;
}

#lbl-tipo {
  grid-column: 4/4; 
}

#edt-tipo {
  grid-column: 5/8; 
  display: flex;
  flex-direction: column;
}

#lbl-nome {
  grid-column: 1/2;
}

#edt-nome {
  grid-column: 2/4;
  display: flex;
  flex-direction: column;
}

#lbl-razao-social {
  grid-column: 4/4;
}

#edt-razao-social {
  grid-column: 5/8;
  display: flex;
  flex-direction: column;
}

/** contato email */
#lbl-contato {
  grid-column: 1/2;
}

#edt-contato {
  grid-column: 2/4;
  display: flex;
  flex-direction: column;
}

#lbl-email {
  grid-column: 4/4;
}

#edt-email {
  grid-column: 5/8;
  display: flex;
  flex-direction: column;
}

/** CEP estado */
#lbl-cep {
  grid-column: 1/2;
}

#edt-cep {
  grid-column: 2/2;
  display: flex;
  flex-direction: column;
}

#btn-cep {
  grid-column: 3/3;
}

#lbl-estado {
  grid-column: 4/4;
}

#edt-estado {
  grid-column: 5/8;
  display: flex;
  flex-direction: column;
}

/** bairro cidade */
#lbl-bairro {
  grid-column: 1/2;
}

#edt-bairro {
  grid-column: 2/4;
  display: flex;
  flex-direction: column;
}

#lbl-cidade {
  grid-column: 4/4;
}

#edt-cidade {
  grid-column: 5/8;
  display: flex;
  flex-direction: column;
}

/** logradouro complemento */
#lbl-logradouro {
  grid-column: 1/2;
}

#edt-logradouro {
  grid-column: 2/4;
  display: flex;
  flex-direction: column;
}

#lbl-complemento {
  grid-column: 4/4;
}

#edt-complemento {
  grid-column: 5/8;
  display: flex;
  flex-direction: column;
}

.required {
  width: 100%;
  margin-left: 3px;
  margin-top: 5px;
  color: #ff0000;
}

#btn-cep {
  height: 79%;
}

#cbx-tipo {
  display: grid;
}

